<div class="row mt-5 justify-content-end" *ngIf="role === 'Department Head'">
    <div class="col-1 ">
      <button class="btn text-white" style="background-color: #9526a9;" (click)="getalltickdepthead(empid)">Get All
            Record</button>
    </div>
    <div class="col-2">
        <button class="btn text-white" style="background-color: #9526a9;" (click)="getnewticket(empid)">Get New
            Record</button>
    </div>
</div>


<div class="col-12 " *ngIf="role === 'Employee'||role === 'Admin Department Employee'||role === 'Department Head'">
    <div class="card  mt-5 mx-5" id="tblEmployee">
        <div class="card-header" style="background-color: #9526a9;">
            <h5 class="text-white"><strong>Ticket Information </strong>
                <div *ngIf="role === 'Employee'">
                    <!-- <button type="button " class="btn btn-outline-light float-end" (click)="showModel()"><i
                            class="fa fa-plus"></i>
                        <strong> Create New Ticket</strong></button> -->
                        
            <button class="btn addbtn btn-info text-white text-end" data-bs-toggle="modal" data-bs-target="#ticketform" (click)="ShowSavebtn()">Add New Ticket</button>

                </div>
            </h5>
        </div>
        <div class="card-body">
            <table class="table table-srtipped table-bordered text-center">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Created Employee</th>
                        <th>Created Date</th>
                        <th>Expected End Date</th>
                        <th *ngIf="ticketList && ticketList.length > 0 && ticketList[0].deptName">Department</th>
                        <th>State</th>
                        <th>Ticket No</th>
                        <th *ngIf="role === 'Admin Department Employee'">Request Detail</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="ticketList && ticketList.length > 0; else noRecords">
                    @for(tick of ticketList;track tick.ticketId;let index= $index){
                    <tr>
                        <td>{{index+1}}</td>
                        <td>{{tick.createdByEmployee||tick.employeeName}}</td>
                        <td>{{tick.createdDate |date: 'dd-MM-yy'}}</td>
                        <td>{{tick.expectedEndDate |date: 'dd-MM-yy'}}</td>
                        <td *ngIf="tick.deptName">{{ tick.deptName }}</td>
                        <td> 
                            <ng-container *ngIf="role === 'Department Head'">
                                <ng-container *ngIf="tick.state === 'Un-Assigned'; else assigned">{{ tick.state }}</ng-container>
                                <ng-template #assigned>{{ tick.assignedToEmployee }}</ng-template>&nbsp;
                                <button *ngIf="tick.state === 'Un-Assigned'" class="btn btn-success" (click)="assignTicket(tick.ticketId)" data-bs-toggle="modal" data-bs-target="#assignform">Assign</button>
                            </ng-container>                            
                            <ng-container *ngIf="role === 'Employee'||role === 'Admin Department Employee'">
                                {{ tick.state }}
                            </ng-container>
                        </td>
                        <td>{{tick.ticketNo}}</td>
                        <td *ngIf="role === 'Admin Department Employee'">{{tick.requestDetails}}</td>
                        <td>
                            <div class="row ">
                                <div *ngIf="role === 'Admin Department Employee'">
                                    <div class="col-12 admin_button_start_close" *ngIf="tick.state === 'Assigned'">
                                        <button class="btn btn-success " (click)="startTicket(tick.ticketId)">Start Ticket</button>
                                    </div>
                                    <div class="col-12 admin_button_start_close" *ngIf="tick.state === 'In-Progress'">
                                        <button class="btn btn-danger"  (click)="closeticket(tick.ticketId)">Close Ticket</button>
                                    </div>
                                </div>
                                <div class="col-12" *ngIf="role === 'Employee'||role==='Department Head'">
                                    <button class="btn btn-danger" (click)="onDelete(tick)"><i
                                            class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <ng-template #noRecords>
                <tr>
                    <td colspan="8">
                        <div class="alert alert-info text-center" role="alert">
                            No records found.
                        </div>
                    </td>
                </tr>
            </ng-template>
        </div>
    </div>
</div>

<div class="modal" id="ticketform">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #9526a9;">
                <h4 class="modal-title text-white">Create New Ticket</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-4">
                            <label>Department Name :</label>
                            <select class="form-select" [(ngModel)]="createticketobj.deptId">
                                <option value="0" selected>Select Department</option>
                                <option *ngFor="let dept of deptList" [value]="dept.deptId">
                                    {{dept.deptName}}</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <label>Severity:</label>
                            <select class="form-select" [(ngModel)]="createticketobj.severity">
                                <option value="0" selected>Select Severity</option>
                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>
                            </select>

                        </div>
                        <div class="col-4">
                            <label>Request Details:</label>
                            <input type="text" placeholder="Enter Request Details" class="form-control"
                                name="requestDetails" #requestDetails="ngModel" required
                                [(ngModel)]="createticketobj.requestDetails">
                            <div class="text-danger" *ngIf="requestDetails.touched || requestDetails.dirty">
                                <span *ngIf="requestDetails.errors?.['required']">Request Details is
                                    required</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <div class="col-3 ">
                     <button class="btn btn-success" (click)="createTicket()"><i class="fa fa-save"></i> Create
                        Ticket</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger" (click)="closeModel()"><i class="fa fa-close"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="assignform">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header" style="background-color: #9526a9;">
                <h4 class="modal-title text-white">Assign Ticket</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    (click)="closeModelAssignForm()"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <label>Assign To:</label>
                            <select class="form-select" [(ngModel)]="assigntickobj.assignedTo">
                                <option value="0" selected>Select Employee</option>
                                <ng-container *ngFor="let emp of empList">
                                    <option *ngIf="emp.role === 'Admin Department Employee'" [value]="emp.employeeId">
                                        {{emp.employeeName}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-3 ">
                    <button class="btn btn-success" (click)="assignreq()"><i class="fa fa-save"></i> Assign</button>
                </div>
                <div class="col-3">
                    <button class="btn btn-danger" (click)="closeModelAssignForm()"><i
                            class="fa fa-close"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
</div>