<div class="container">
    <div class="card">
        <div class="card-heading bg-secondary text-white text-center">
            Ticket Information
            <button class="btn addbtn btn-info text-white text-end" data-bs-toggle="modal" data-bs-target="#ticketform" (click)="ShowSavebtn()">Add New Ticket</button>
        </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Create Date</th>
                    <th>Expected End Date</th>
                    <th>Department</th>
                    <th>Contact No</th>
                    <th>Ticket No</th>
                    <th>Created Employee</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    @for (ticket of ticketList; track $index) {
                     <tr>
                        <td>{{ticket.createdDate}}</td>
                        <td>{{ticket.expectedEndDate}}</td>
                        <td>{{ticket.deptName}}</td>
                        <td>{{ticket.contactNo}}</td>
                        <td>{{ticket.ticketNo}}</td>
                        <td>{{ticket.createdByEmployee}}</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square m-1 bg-primary text-white p-2" data-bs-toggle="modal" data-bs-target="#ticketform" (click)="ShowUpdatebtn()" (click)="onEdit(ticket)" ></i>
                            <i class="fa-solid fa-trash bg-danger m-1 text-white p-2" (click)="onDelete(ticket)"></i>
                        </td>
                     </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<div class="card" id="emptable">
    <div class="card-heading bg-secondary text-white text-center">
        Ticket Information
        <!-- <button class="btn addbtn btn-info text-white text-end" data-bs-toggle="modal" data-bs-target="#ticketform" (click)="ShowSavebtn()">Add New Ticket</button> -->
    </div>
<div class="row">
    <!-- @if (role==='Department Head') { -->
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Create Date</th>
                <th>Expected End Date</th>
                <th>Department</th>
                <th>State</th>
                <th>Ticket No</th>
                <th>Created Employee</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
                @for (ticket of ticketList; track ticket.ticketId) {
                 <tr>
                    <td>{{ticket.createdDate|date}}</td>
                    <td>{{ticket.expectedEndDate|date}}</td>
                    <td>{{ticket.deptName}}</td>
                    <td>{{ticket.state}}</td>
                    <td>{{ticket.ticketNo}}</td>
                    <td>{{ticket.createdByEmployee}}</td>
                    <td>
                        @if (ticket.state==='Un-Assigned') {
                        <button class="btn btn-info" (click)="showassignform()" data-bs-toggle="modal" data-bs-target="#assignform">Assign</button>
                    }
                    <i class="fa-solid fa-trash bg-danger m-1 text-white p-2" (click)="onDelete(ticket)"></i>

                    </td>
                 </tr>
                }
            </tbody>

        </table>
    </div>
<!-- } -->
</div>
</div>

<div class="modal" id="ticketform">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white text-center">
            <strong>Add Ticket</strong>
            <i class="fa-regular fa-circle-xmark rounded bg-danger text-white close" data-bs-dismiss="modal"></i>
        </div>
        <div class="modal-body">
<form #form="ngForm">
    <div class="row">
        <div class="col-12">
            <label for="">Employee Name</label><br>
            <select class="form-control" name="emp" [(ngModel)]="createticketobj.employeeId">
            <option value="0" selected>Select Employee</option>
            @for (emp of empList; track $index) {
            <option [value]="emp.employeeId">{{emp.employeeName}}</option>
        }
            </select>
        </div>
        <div class="col-12">
            <label for="">Saverity</label>
            <input type="text" class="form-control" name="saverity" #saverity="ngModel" [(ngModel)]="createticketobj.severity" required>
            @if (saverity.touched||saverity.dirty) {
                <div class="text-danger">
                    @if (saverity.errors) {
                        <span>Please Enter Saverity</span>
                    }
                </div>
            }
        </div>
            <div class="col-12">
                <label for="">Department</label>
                <select class="form-control" name="dept" [(ngModel)]="createticketobj.deptId">
                    <option value="0" selected>Select Department</option>
                   @for (dept of deptList; track $index) {
                    <option [value]="dept.deptId">{{dept.deptName}}</option>
                   }
                </select>
            </div>
            <div class="col-12">
                <label for="">State</label>
                <input type="text" class="form-control" name="state" #state="ngModel" [(ngModel)]="createticketobj.state" required>
                @if (state.touched||state.dirty) {
                    <div class="text-danger">
                        @if (state.errors) {
                            <span>Enter State</span>
                        }
                    </div>
                }
            </div>
            <div class="col-12">
                <label for="">RequestDetails</label>
                <input type="text" class="form-control" name="reqdetail" #reqdetail="ngModel" [(ngModel)]="createticketobj.requestDetails" required>
                @if (reqdetail.touched||reqdetail.dirty) {
                    <div class="text-danger">
                        @if (reqdetail.errors) {
                            <span>Enter Request Details</span>
                        }
                    </div>
                }
            </div>
            
    </div>
</form>
</div>
<div class="modal-footer">
    <div class="col-12">
        @if (savebtn==true) {
        <button class="btn btn-success m-1" (click)="createTicket()">CreateTicket</button>
    }
    @if (updatebtn) {
        <button class="btn btn-info m-1">Update</button>
    }
        <button class="btn btn-danger" (click)="reset()">Reset</button>
    </div>
</div>
</div>
</div>
</div>

<div class="modal" id="assignform">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            Assign Ticket
            <i class="fa-regular fa-circle-xmark rounded bg-danger text-white close" data-bs-dismiss="modal"></i>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
                <label for="">Assign To</label><br>
                <select name="assignto" [(ngModel)]="assigntickobj.assignedTo">
                <option value="0" selected>Select Employee</option>
                @for (emp of empList; track $index) {
               <option [value]="emp.employeeId">{{emp.employeeName}}</option>
                }
                </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" (click)="assignreq()">Assign</button>
        </div>
    </div>
</div>
</div>
</div>