<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-heading">
                    Super Admin Dashboard
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th>Total Departments</th>
                            <th>Total Employees</th>
                            <th>Total Tickets</th>
                            <th>Total UnAssigned Tickets</th>
                            <th>Total Assigned Tickets</th>
                            <th>Total InProgress Tickets</th>
                            <th>Total Closed Tickets</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (admindash of admindashList; track $index) {
                            <tr>
                                <td>{{admindash.totalDepartments}}</td>
                                <td>{{admindash.totalEmployees}}</td>
                                <td>{{admindash.totalTickets}}</td>
                                <td>{{admindash.totalUnAssignedTickets}}</td>
                                <td>{{admindash.totalAssignedTickets}}</td>
                                <td>{{admindash.totalInProgressTickets}}</td>
                                <td>{{admindash.totalClosedTickets}}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
