                             @if (role=='Admin Department Employee') {
                             <div class="container m-3">
                                <h4>Admin Dashboard</h4>
                             <div class="row">
                                @if (admindashobj.totalTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-dark">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{admindashobj.totalTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (admindashobj.totalAssignedTickets!==0) {
                            <div class=" col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-premium-dark">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Assigned Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning"><span>{{admindashobj.totalAssignedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (admindashobj.totalInProgressTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Inprogress Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{admindashobj.totalInProgressTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (admindashobj.totalClosedTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Closed Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{admindashobj.totalClosedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div> 
                }

                @if (role=='Employee') {
                    <div class="container m-3">
                        <h4>Employee Dashboard</h4>
                        <div class="row">
                            @if (empdashobj.totalTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-dark">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{empdashobj.totalTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (empdashobj.totalUnAssignedTickets!==0) {
                            <div class=" col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-premium-dark">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Unassigned Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning"><span>{{empdashobj.totalUnAssignedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (empdashobj.totalAssignedTickets!==0) {
                            <div class=" col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-midnight-bloom">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Assigned Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning"><span>{{empdashobj.totalAssignedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (empdashobj.totalInProgressTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Inprogress Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{empdashobj.totalInProgressTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (empdashobj.totalClosedTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Closed Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{empdashobj.totalClosedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                }

                @if (role=='Department Head') {
                    <div class="container m-3">
                        <h4>DepartmentHead Dashboard</h4>
                        <div class="row">
                            @if (deptheaddashobj.totalEmployees!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-dark">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Employees</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{deptheaddashobj.totalEmployees}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (deptheaddashobj.totalTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-dark">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{deptheaddashobj.totalTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            @if (deptheaddashobj.totalUnAssignedTickets!==0) {
                            <div class=" col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-premium-dark">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Unassigned Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning"><span>{{deptheaddashobj.totalUnAssignedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            @if (deptheaddashobj.totalAssignedTickets!==0) {
                            <div class=" col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-midnight-bloom">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Assigned Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning"><span>{{deptheaddashobj.totalAssignedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            @if (deptheaddashobj.totalInProgressTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-grow-early">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Inprogress Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{deptheaddashobj.totalInProgressTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                            @if (deptheaddashobj.totalClosedTickets!==0) {
                            <div class="col-md-6 col-xl-3">
                                <div class="card mb-3 widget-content bg-arielle-smile">
                                    <div class="widget-content-wrapper text-white">
                                        <div class="widget-content-left">
                                            <div class="widget-subheading">Total Closed Tickets</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-white"><span>{{deptheaddashobj.totalClosedTickets}}</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                }

                    
                       
                      
    


