<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-heading">
                    Admin Employee Dashboard
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                            <th>Total Tickets</th>
                            <th>Total Assigned Tickets</th>
                            <th>Total InProgress Tickets</th>
                            <th>Total Closed Tickets</th>
                        </tr>
                        </thead>
                        <tbody>
                            @for (list of adminempList; track $index) {
                            <tr>
                                <td>{{list.totalTickets}}</td>
                                <td>{{list.totalAssignedTickets}}</td>
                                <td>{{list.totalInProgressTickets}}</td>
                                <td>{{list.totalClosedTickets}}</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

